<!DOCTYPE html>
<html lang="en">
<head>
    <title>MyCareer - General </title>
    <meta charset="utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A premium admin dashboard template by Mannatthemes" name="description"/>
    <meta content="Mannatthemes" name="author"/>

    <!-- App favicon -->
    <link rel="shortcut icon" href="http://www.mycareer.uz/images/logo.png">
    <!-- App css -->
    <link href="http://www.mycareer.uz/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>

    <link href="http://www.mycareer.uz/css/icons.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.mycareer.uz/css/metisMenu.min.css" rel="stylesheet" type="text/css"/>
    <link href="http://www.mycareer.uz/css/style.css" rel="stylesheet" type="text/css"/>


    <style>
        img.my_lazy_load {
            background-image: url(http://www.mycareer.uz/images/my_images/loading.gif);
            background-repeat: no-repeat;
            background-position: 50% 50%;
        }
    </style>




</head>

<body>
<!-- Top Bar Start -->
<!-- Top Bar Start -->
<div class="topbar">

    <!-- LOGO -->
    <div class="topbar-left">
        <a href="http://www.mycareer.uz/home" class="logo">
                    <span>
                        <img src="http://www.mycareer.uz/images/logo.png" alt=" "  width="80" height="80" >
                    </span>

        </a>
    </div>
    <!--end logo-->
    <!-- Navbar -->
    <nav class="navbar-custom">
        <ul class="list-unstyled topbar-nav float-right mb-0">
            <li class="hidden-sm">
                <a class="nav-link dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="javascript: void(0);" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    English
                    <img src="http://www.mycareer.uz/images/flags/en_flag.jpg" class="ml-2" height="16" alt=""/>

                    <i class="mdi mdi-chevron-down"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="http://www.mycareer.uz/lang/uz" id="uz"><span>Uzbek</span><img src="http://www.mycareer.uz/images/flags/uz_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>        <a class="dropdown-item" href="http://www.mycareer.uz/lang/en" id="en"><span>English</span><img src="http://www.mycareer.uz/images/flags/en_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>        <a class="dropdown-item" href="http://www.mycareer.uz/lang/ru" id="ru"><span>Russian</span><img src="http://www.mycareer.uz/images/flags/ru_flag.jpg" alt="" class="ml-2 float-right" height="14"/></a>    </div>
            </li>

            <li class="dropdown notification-list">
                <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">
                    <i class="dripicons-bell noti-icon"></i>
                    <span class="badge badge-danger badge-pill noti-icon-badge">0</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-lg">
                    <!-- item-->
                    <h6 class="dropdown-item-text">
                        Notifications (0)
                    </h6>
                    <div class="slimscroll notification-list">



                        <!-- item-->

                        <!-- item-->

                    </div>
                    <!-- All-->
                    <a href="javascript:void(0);" class="dropdown-item text-center text-primary">
                        View all <i class="fi-arrow-right"></i>
                    </a>
                </div>
            </li>

            <li class="dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                   aria-haspopup="false" aria-expanded="false">

                    <img src="http://www.mycareer.uz/storage/images/128/128/User/placeholder.jpg" alt="No image" class=" rounded-circle"/>
                    <span class="ml-1 nav-user-name hidden-sm"> adminadmin <i class="mdi mdi-chevron-down"></i> </span>
                </a>
                <div class="dropdown-menu dropdown-menu-right">

                    <a class="dropdown-item" href="http://www.mycareer.uz/login/locked">
                        <i class="dripicons-lock text-muted mr-2"></i> Lock screen</a>

                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="http://www.mycareer.uz/logout"
                       onclick="event.preventDefault();  document.getElementById('logout-form').submit();">
                        <i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                    <form id="logout-form" action="http://www.mycareer.uz/logout" method="GET" style="display: none;">
                        <input type="hidden" name="_token" value="oVsDXqwBcjK0PiBDOYa3qA4TK8wYsHN1fb3oKHTy">                        <input type="hidden" name="_method" value="GET">                    </form>
                </div>
            </li>
        </ul><!--end topbar-nav-->

        <ul class="list-unstyled topbar-nav mb-0">
            <li>
                <button class="button-menu-mobile nav-link waves-effect waves-light">
                    <i class="dripicons-menu nav-icon"></i>
                </button>
            </li>
            <li class="hide-phone app-search">
                <form role="search" class="">
                    <input type="text" placeholder="Search..." class="form-control">
                    <a href=""><i class="fas fa-search"></i></a>
                </form>
            </li>
        </ul>
    </nav>
    <!-- end navbar-->
</div>
<!-- Top Bar End -->
<!-- Top Bar End -->

<div class="page-wrapper">
    <!-- Left Sidenav -->
    <!-- Left Sidenav -->
    <div class="left-sidenav">
        <div class="main-icon-menu">
            <nav class="nav">
                <a href="#MetricaAnalytic_student" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title=""
                   data-original-title="General">
                    <svg class="nav-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M437.333 32H74.667C51.198 32 32 51.197 32 74.666v282.667C32 380.802 51.198 400 74.667 400h138.666l-42.666 48v32h170.666v-32l-42.666-48h138.666C460.802 400 480 380.802 480 357.333V74.666C480 51.197 460.802 32 437.333 32zm0 288H74.667V74.666h362.666V320z" style="enable-background:new 0 0 512 512;" xml:space="preserve"></path>
                    </svg>
                </a>
                <a href="#MetricaOthers" class="nav-link" data-toggle="tooltip-custom" data-placement="top" title=""
                   data-original-title="About">
                    <svg class="nav-svg" xmlns="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="M256 48C141.2 48 48 141.2 48 256s93.2 208 208 208 208-93.2 208-208S370.8 48 256 48zm21 312h-42V235h42v125zm0-166h-42v-42h42v42z"></path>
                    </svg>
                </a><!--end MetricaOthers-->
            </nav><!--end nav-->
        </div><!--end main-icon-menu-->

        <div class="main-menu-inner">
            <div class="menu-body slimscroll">
                <div id="MetricaAnalytic_student" class="main-icon-menu-pane  active ">
                    <div class="title-box">
                        <h6 class="menu-title">General</h6>
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/student/dashboard"><i
                                class="dripicons-meter"></i>Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/student/profile"><i
                                class="dripicons-user"></i>Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/student/get_create_resume"><i
                                class="dripicons-document"></i>Create Resume</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/student/resume"><i
                                class="dripicons-document"></i>Resume</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/student/events"><i
                                class="dripicons-calendar"></i>Events</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/student/vacancies"><i
                                class="dripicons-user-id"></i>Vacancies</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/student/projects"><i
                                class="dripicons-jewel"></i>Project</a></li>
                    </ul>
                </div>
                <div id="MetricaAnalytic_employer" class="main-icon-menu-pane  ">
                    <div class="title-box">
                        <h6 class="menu-title">General</h6>
                    </div>
                    <ul class="nav">
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/dashboard"><i
                                class="dripicons-meter"></i>Dashboard</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/profile"><i
                                class="dripicons-user"></i>Profile</a></li>



                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/events"><i
                                class="dripicons-calendar"></i>Events</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/vacancies"><i
                                class="dripicons-user-id"></i>Vacancies</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/projects"><i
                                class="dripicons-jewel"></i>Project</a></li>
                    </ul>
                </div><!-- end Analytic -->
                <div id="MetricaOthers" class="main-icon-menu-pane ">
                    <div class="title-box">
                        <h6 class="menu-title">About</h6>
                    </div>
                    <ul class="nav metismenu" id="main_menu_side_nav">
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/about_us"><i
                                class="dripicons-user"></i>About us</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/development-skills"><i
                                class="dripicons-user-id"></i>Development skills</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/juridic-advices"><i
                                class="dripicons-user-id"></i>Juridic advices</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/tranings"><i
                                class="dripicons-lightbulb"></i>Training</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/teachings"><i
                                class="dripicons-article"></i>Teaching</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/blogs"><i
                                class="dripicons-blog"></i>Blogs</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/galleries"><i
                                class="dripicons-photo-group"></i>Gallery</a></li>
                        <li class="nav-item"><a class="nav-link" href="http://www.mycareer.uz/faqs"><i
                                class="dripicons-question"></i>Faq</a></li>
                        <!--end nav-item-->
                    </ul><!--end nav-->
                </div><!-- end Others -->
            </div><!--end menu-body-->
        </div><!-- end main-menu-inner-->
    </div>
    <!-- end left-sidenav-->
    <!-- end left-sidenav-->

    <!-- Page Content-->
    <div class="page-content">

        <div class="container-fluid">
            <!-- Page-Title -->
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title-box">
                        <div class="float-right">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="http://www.mycareer.uz/about_us">MyCareer</a></li>
                                <li class="breadcrumb-item"><a href="http://www.mycareer.uz/about_us">General</a></li>
                                <li class="breadcrumb-item active">Resume</li>

                            </ol>
                        </div>
                        <h4 class="page-title">Resume</h4>
                    </div><!--end page-title-box-->
                </div><!--end col-->
            </div>



            <!-- end page title end breadcrumb -->
            <!-- Page Content-->

            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="card">
                        <div class="card-body invoice-head">
                            <div class="row">
                                <div class="col-md-4 align-self-center ">
                                    <img src="http://www.mycareer.uz/storage/images/140/180/User/placeholder.jpg" alt="logo-large" class="logo-lg mr-4" height="180"/>
                                </div>
                                <div class="col-md-8">
                                    <h3 class="mr-2"> adminadmin </h3>
                                    <ul class="list-inline mb-0 contact-detail float-right">
                                        <li class="list-inline-item">
                                            <div class="pl-3">
                                                <p class="text-muted mb-0"><i class="mdi mdi-web"></i>admin@admin.com </p>                                    </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="pl-3">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div><!--end card-body-->

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div>
                                        <h3 class="text-center">Personal informations</h3>
                                        <p> No information </p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="header-title mt-0 mb-3">Skills</h4>
                                                    <h6>No skills</h6>                                      </div>  <!--end card-body-->
                                            </div><!--end card-->
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="header-title mt-0 mb-3">Education</h4>
                                                    <h6>No education</h6>
                                                </div>  <!--end card-body-->
                                            </div><!--end card-->
                                        </div><!--end col-->

                                    </div><!--end row-->

                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="header-title mt-0 mb-3">Languages</h4>
                                                    <div class="skills mt-4">

                                                        <h6>No languages</h6>
                                                    </div>
                                                </div>  <!--end card-body-->
                                            </div><!--end card-->
                                        </div><!--end col-->
                                        <div class="col-lg-6">
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="header-title mt-0 mb-3">Work experience</h4>
                                                    <div class=" education-activity">
                                                        <div class="activity">
                                                            <h6>No experiences</h6>                                              </div><!--end activity-->
                                                    </div><!--end education-activity-->

                                                </div>  <!--end card-body-->
                                            </div><!--end card-->
                                        </div><!--end col-->
                                        <div class="col-lg-12">
                                            <div class="row d-flex justify-content-center">
                                                <div class="col-lg-12 col-xl-4">
                                                    <div class="float-right d-print-none">
                                                        <a href="javascript:window.print()" class="btn btn-info"><i class="fa fa-print"></i> Print</a>
                                                        <a href="#" class="btn btn-primary">Share</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--end row-->


                            </div>
                        </div><!--end card-->
                    </div><!--end col-->
                </div><!--end row-->
            </div>
            <!-- end page content -->
        </div><!-- container -->
    </div>
</div>
<!-- end page-wrapper -->
<!-- jQuery  -->


<script type="text/javascript" src="http://www.mycareer.uz/js/my_js/jquery.min.js"></script>
<script type="text/javascript" src="http://www.mycareer.uz/js/my_js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="http://www.mycareer.uz/js/my_js/metisMenu.min.js"></script>
<script type="text/javascript" src="http://www.mycareer.uz/js/my_js/waves.min.js"></script>
<script type="text/javascript" src="http://www.mycareer.uz/js/my_js/jquery.slimscroll.min.js"></script>
<!-- App js -->

<script type="text/javascript" src="http://www.mycareer.uz/js/app.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.lazy/1.7.4/jquery.lazy.min.js"></script>
<script>
    // $(function() {
    //     $("img.my_lazy_load").lazy({
    //         effect: "fadeIn",
    //         effectTime: 2000,
    //         threshold: 0,
    //         placeholder: "data:image/gif;base64,R0lGODlhEALAPQAPzl5uLr9Nrl8e7..."
    //     });
    // });
    /*$(function() {
        $('.my_lazy_load').lazy({
            placeholder: "data:image/gif;base64,R0lGODlhEALAPQAPzl5uLr9Nrl8e7..."
        });
    });*/
</script>

<script>

    //change user profile picture
    $(document).ready(function (e) {

        /*$('#imageUploadForm').on('submit',(function(e) {
            console.log("submit called");
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                }
            });
            e.preventDefault();
            $.ajax({
                type:"post",
                data:new FormData(this),
                dataType:'JSON',
                contentType: false,
                cache: false,
                processData: false,
                success:function(data){
                    console.log("data received:"+data);
                    $('#original').attr('src', 'public/tmp_images/thumbnail/'+ data.name);
                    //$('#thumbImg').attr('src', 'public/tmp_images/thumbnail/'+ data.name);
                },
                error: function(data){
                    console.log("My error"+data);
                }
            });
        }));*/

        $('#photo_name').on('change',(function(e) {
            e.preventDefault();
            $.ajax({
                url: "http://www.mycareer.uz/upload-image",
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
                },
                type : 'post',
                async:true,
                data:new FormData(document.getElementById("imageUploadForm")).append('enctype', "multipart/form-data"),
                contentType: false,
                cache: false,
                processData: false
            });
            document.forms['imageUploadForm'].submit();
        }));


    });

</script>



</body>
</html>
